<div class="share-page">
  <span style="float: left;">Share this on &rarr;&nbsp;&nbsp;</span>

  <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url | uri_escape }}&text={{ page.title | strip_html | uri_escape }}&via={{ site.share.twitter_username }}"
     target="_blank" rel="noopener" class="share-link">Tweet</a>

  &nbsp;|&nbsp;

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | uri_escape }}"
     target="_blank" rel="noopener" class="share-link">Share on Facebook</a>

  &nbsp;|&nbsp;

  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url | uri_escape }}"
     target="_blank" rel="noopener" class="share-link">Share on LinkedIn</a>
</div>
